// Variabel font
$font-stack: "Mynerve", sans-serif;

// Variabler "color functions"
$primary-green: #3e8b6e;
$dark-green: darken($primary-green, 30%);
$light-green: lighten($primary-green, 30%);

// Variabler färger
$black: black;
$white: white;
$red: #743d3df5;

// Variabler ljust tema
$primary-text: $black;
$primary-bg: $white;
$primary-heading: $dark-green;
$errorMsg: $red;
$completed: $red;